{
  "extends": "airbnb/legacy",
  "globals": {
    "it": false,
    "describe": false,
    "afterEach": false
  },
  "rules": {
    "no-var": 0,
    "object-shorthand": 0,
    "padded-blocks": 0,
    "func-names": 0,
    "max-len": ["error", 100, { "ignoreComments": true }]
  }
}
