---
---

/* Updates body font */
body {
  font-family: NotoSansJP,Slack-Lato,appleLogo,sans-serif;
}

/* Replaces old sidebar styled links */
.sidebar_menu h5 {
  font-size: 0.8rem;
  font-weight: 800;
  margin-bottom: 3px;
}

/* Aligns footer navigation to the left of the sidebar */
.footer_nav {
  margin: 0 !important;
}

/* Styles the signature all nice and pretty <3 */
#footer_signature {
  color:#e01e5a;
  font-size:.9rem;
  margin-top: 10px;
}

/* Fixes link hover state */
a:hover {
  text-decoration: underline;
}

/* Makes footer consistent */
footer {
  background-color: transparent;
  border: 0;
}

/* Font styles */
@font-face {
  font-family: NotoSansJP;
  font-style: normal;
  font-weight: 400;
  src: local('â˜º'),
      url(https://a.slack-edge.com/90dd/fonts/NotoSansJP/NotoSansJP-Regular.min.woff2) format('woff2'),
      url(https://a.slack-edge.com/90dd/fonts/NotoSansJP/NotoSansJP-Regular.min.woff) format('woff');
  unicode-range: U+3000-303F, U+3040-309F, U+30A0-30FF, U+31F0-31FF, U+FF00-FFEF, U+00A0, U+4E00-9F62;
}

@font-face {
  font-family: NotoSansJP;
  font-style: normal;
  font-weight: 700;
  src: local('â˜º'),
      url(https://a.slack-edge.com/90dd/fonts/NotoSansJP/NotoSansJP-Bold.min.woff2) format('woff2'),
      url(https://a.slack-edge.com/90dd/fonts/NotoSansJP/NotoSansJP-Bold.min.woff) format('woff');
  unicode-range: U+3000-303F, U+3040-309F, U+30A0-30FF, U+31F0-31FF, U+FF00-FFEF, U+00A0, U+4E00-9F62;
}

@font-face {
  font-family: NotoSansJP;
  font-style: normal;
  font-weight: 900;
  src: local('â˜º'),
      url(https://a.slack-edge.com/90dd/fonts/NotoSansJP/NotoSansJP-Bold.min.woff2) format('woff2'),
      url(https://a.slack-edge.com/90dd/fonts/NotoSansJP/NotoSansJP-Bold.min.woff) format('woff');
  unicode-range: U+3000-303F, U+3040-309F, U+30A0-30FF, U+31F0-31FF, U+FF00-FFEF, U+00A0, U+4E00-9F62;
}