# Welcome to the documentation site. You can build it locally use `bundle exec jekyll serve`.
# See: https://help.github.com/en/articles/setting-up-your-github-pages-site-locally-with-jekyll

# This file contains site settings and metadata. It is used to both configure how Jekyll will build the site, and also
# the metadata is made available in the templates, layouts, and pages.
# See: https://jekyllrb.com/docs/configuration/options/, https://help.github.com/en/articles/configuring-jekyll, and
# https://help.github.com/en/articles/configuring-jekyll-plugins

title: Node Slack SDK
description: >-
  This SDK is a collection of single-purpose packages. The packages are aimed at making building Slack apps
  easy, performant, secure, and scalable. They can help with just about anything in the Slack platform, from dropping
  notifications in channels to fully interactive bots.

# Site content
collections:
  main:
    output: true
  packages:
    output: true
  tutorials:
    output: true
    permalink: /tutorials/:slug

defaults:
  -
    scope:
      path: ""
      type: main
    values:
      layout: default
  -
    scope:
      path: ""
      type: packages
    values:
      layout: contained
  -
    scope:
      path: ""
      type: tutorials
    values:
      layout: contained

baseurl: /node-slack-sdk
url: https://slack.dev

# Metadata
repo_name: node-slack-sdk
github_username: SlackAPI

code_of_conduct_url: https://slackhq.github.io/code-of-conduct
cla_url: https://cla-assistant.io/slackapi/node-slack-sdk

google_analytics: UA-56978219-13
google_tag_manager: GTM-KFZ5MK7

# Plugin settings
markdown: kramdown
kramdown:
  parse_block_html: true
plugins:
  - jemoji
  - jekyll-redirect-from

# Obtain github metadata when building locally
# You will need to copy the `.env.sample` file to `.env` and fill in your token for this to work.
repository: slackapi/node-slack-sdk

# Avoid inheriting assets (and pages) from GitHub Pages' default Jekyll theme (primer).
theme: false
