name: Node.js

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    strategy:
      fail-fast: false
      matrix:
        node-version: [22.x]
        package:
          - logger
        include:
          - node-version: 22.x
            npm: 10.7.0
    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
      - if: ${{ matrix.npm }}
        run: npm install -g npm@${{ matrix.npm }}
      - run: npm --version
      - name: Get Development Dependencies
        run: npm i
      - name: Build and Run Tests in Each Package
        working-directory: packages/${{ matrix.package }}
        run: |
          npm install
          # depending on which package we are testing, also npm link up other dependent packages
          case "$PWD" in
            */webhook) pushd ../types && npm i && popd && npm link ../types;;
            */web-api) pushd ../types && npm i && popd && npm link ../types && pushd ../logger && npm i && popd && npm link ../logger;;
            */oauth) pushd ../logger && npm i && popd && npm link ../logger && pushd ../web-api && npm i && popd && npm link ../web-api;;
            */socket-mode) pushd ../logger && npm i && popd && npm link ../logger && pushd ../web-api && npm i && popd && npm link ../web-api;;
            *) ;; # default
          esac
          npm test
      - name: Check for coverage report existence
        id: check_coverage
        uses: andstor/file-existence-action@v3
        with:
          files: packages/${{ matrix.package }}/coverage/lcov.info
      - name: Upload code coverage
        if: matrix.node-version == '22.x' && steps.check_coverage.outputs.files_exists == 'true'
        uses: codecov/codecov-action@v4
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          directory: packages/${{ matrix.package }}/coverage
          flags: ${{ matrix.package }}
          verbose: true
