name: Node.js

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  test:
    timeout-minutes: 4
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest]
        node-version: [18.x, 20.x, 22.x]
        package:
          - cli-hooks
          - cli-test
          - logger
          - oauth
          - rtm-api
          - socket-mode
          - types
          - web-api
          - webhook
    runs-on: ${{ matrix.os }}
    permissions:
      contents: read
    steps:
      - name: Configure git settings (Windows)
        if: matrix.os == 'windows-latest'
        run: |
          git config --global core.autocrlf false
          git config --global core.eol lf
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version: ${{ matrix.node-version }}
      - run: npm --version
      - run: npm install --verbose
        working-directory: packages/${{ matrix.package }}
      - name: Link dependent packages (*nix)
        if: matrix.os == 'ubuntu-latest'
        working-directory: packages/${{ matrix.package }}
        run: |
          # depending on which package we are testing, also npm link up dependent packages within this monorepo
          case "$PWD" in
            */webhook) pushd ../types && npm i && popd && npm link ../types;;
            */web-api) pushd ../types && npm i && popd && npm link ../types && pushd ../logger && npm i && popd && npm link ../logger;;
            */oauth) pushd ../logger && npm i && popd && npm link ../logger && pushd ../web-api && npm i && popd && npm link ../web-api;;
            */socket-mode) pushd ../logger && npm i && popd && npm link ../logger && pushd ../web-api && npm i && popd && npm link ../web-api;;
            *) ;; # default
          esac
      - name: Link dependent packages (Windows)
        if: matrix.os == 'windows-latest'
        working-directory: packages/${{ matrix.package }}
        run: |
          # depending on which package we are testing, also npm link up dependent packages within this monorepo
          # NOTE: the following is PowerShell
          echo "$pwd"
          switch -Wildcard ( "$pwd" )
          {
            '*\webhook'
            {
              pushd ..\types && npm i && popd && npm link ..\types
            }
            '*\web-api'
            {
              pushd ..\types && npm i && popd && npm link ..\types && pushd ..\logger && npm i && popd && npm link ..\logger
            }
            '*\oauth'
            {
              pushd ..\logger && npm i && popd && npm link ..\logger && pushd ..\web-api && npm i && popd && npm link ..\web-api
            }
            '*\socket-mode'
            {
              pushd ..\logger && npm i && popd && npm link ..\logger && pushd ..\web-api && npm i && popd && npm link ..\web-api
            }
          }
      - run: npm test
        working-directory: packages/${{ matrix.package }}
      - name: Check for coverage report existence
        id: check_coverage
        uses: andstor/file-existence-action@076e0072799f4942c8bc574a82233e1e4d13e9d6 # v3.0.0
        with:
          files: packages/${{ matrix.package }}/coverage/lcov.info
      - name: Upload code coverage
        if: matrix.node-version == '22.x' && matrix.os == 'ubuntu-latest' && steps.check_coverage.outputs.files_exists == 'true'
        uses: codecov/codecov-action@5a1091511ad55cbe89839c7260b706298ca349f7 # v5.5.1
        with:
          directory: packages/${{ matrix.package }}/coverage
          fail_ci_if_error: true
          flags: ${{ matrix.package }}
          report_type: coverage
          token: ${{ secrets.CODECOV_TOKEN }}
          verbose: true
      - name: Upload test results to Codecov
        if: ${{ !cancelled() }}
        uses: codecov/codecov-action@5a1091511ad55cbe89839c7260b706298ca349f7 # v5.5.1
        with:
          fail_ci_if_error: true
          file: packages/${{ matrix.package }}/coverage/test-results.xml
          flags: ${{ matrix.node-version }},${{ matrix.os }},${{ matrix.package }}
          report_type: test_results
          token: ${{ secrets.CODECOV_TOKEN }}
          verbose: true
